{% extends "base.html" %}

{% block title %}
Web Programming Portfolio
{% endblock %}


{% block content %}

<section class="weekly-work">

    <h2>Weekly Work</h2>


    {% for week, items in weekly_work|groupby("week") %}

        <div class="week-group">

            <h3 class="week-title">
                Week {{ week }}
            </h3>


            <ul class="weekly-list">

                {% for item in items %}

                    {% if item.url == "/" %}

                        <li class="work-card launch">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>


                    {% elif item.url == "/internet-history" %}

                        <li class="work-card internet">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>


                    {% elif item.url == "/web-history" %}

                        <li class="work-card web">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>


                    {% elif item.url == "/internet-history-ai" %}

                        <li class="work-card internet-ai">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>


                    {% elif item.url == "/web-history-ai" %}

                        <li class="work-card web-ai">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>


                    {% else %}

                        <li class="work-card">
                            <a href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endif %}

                {% endfor %}

            </ul>

        </div>

    {% endfor %}

</section>

{% endblock %}